.QuickAdd {
  width: 64px;
  height: 64px;
  position: relative;

  margin: 0.25rem;
}

.QuickAdd:hover {
  cursor: pointer;
}

.Image {
  width: 100%;
  height: 100%;
}

.Remove {
  position: absolute;
  top: 0px;
  right: 0px;
}

.Remove:hover {
  cursor: pointer;
}
