.UploadPicture {
  width: 100%;

  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.UploadPicture > h1 {
  margin-right: auto;
  font-size: 14px;
}

.UploadPicture > input {
  width: 12rem;
}

@media (max-width: 1024px) {
  .UploadPicture {
    margin: 0.5rem;
  }

  .UploadPicture > h1 {
    font-size: 11px;
  }

  .UploadPicture > input {
    width: 8rem;
    font-size: 9px;
  }
}

