.UploadPicture {
  width: 100%;

  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.UploadPicture > h1 {
  margin-right: auto;
  font-size: 14px;
}

.UploadPicture > input {
  width: 12rem;
}

@media (max-width: 1024px) {
}

