.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  background: rgb(255, 248, 234);
}

.Header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid black;
}

.Header > h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 1rem;
}

.Bottom {
  display: flex;
  justify-content: center;
}

.Selection {
  width: 22rem;
  height: fit-content;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.Selection > h2 {
  width: 100%;
  font-size: 12px;
  line-height: 20px;
}

.Display {
  display: flex;
}

.Clear {
  background: rgb(255, 100, 100);
  outline: none;

  border: 1px solid rgb(50, 50, 50);
  border-radius: 2px;
}

.Clear:hover {
  background: rgb(255, 60, 60);
}

@media (max-width: 1024px) {
  .App {
    overflow: auto;
  }

  .Header > h1 {
    font-size: 20px;
    margin: 0.75rem;
  }

  .Selection {
    width: 20rem;
    margin-bottom: 1rem;
  }

  .Selection > h2 {
    font-size: 12px;
  }

  .Bottom {
    flex-direction: column;
    align-items: center;
  }

  .Selection > h2 {
    font-size: 11px;
    line-height: 10px;
  }

  .Clear {
    font-size: 8px;
    width: 4rem;
    margin-top: 0.5rem;
  }
}

