.MyCanvas {
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 1rem;
}

.MyCanvas > img {
  width: 750px;
  height: 750px;

  border: 1px solid black;
  border-radius: 5px;

  background: white;
}

.Download {
  margin: 1rem;
}

@media (max-width: 1024px) {
  .MyCanvas {
    margin: 0.75rem;
  }

  .MyCanvas > img {
    width: 250px;
    height: 250px;
  }

  .Download {
    margin: 0.5rem;
  }

  .Download > button {
    font-size: 10px;
  }
}
