.Layers {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.List {
  width: 6rem;
  height: 35rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;
  overflow-x: hidden;

  margin-top: 1rem;

  border: 1px solid black;
  border-radius: 5px;

  background: white;
}

.List > h1 {
  width: 100%;

  padding: 0.25rem;
  text-align: center;

  border-bottom: 1px solid black;
}

.Layers > button {
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  .List {
    width: 4rem;
    height: 15rem;

    font-size: 11px;

    margin-top: 0.75rem;
  }

  .Layers > button {
    margin-top: 0.5rem;
  }
}
