.History {
  width: 100%;
  height: 17.5rem;

  border: 1px solid black;
  border-radius: 5px;

  overflow-x: hidden;
  overflow-y: scroll;

  margin: 1rem;

  background: white;
}

.History > h1 {
  width: 100%;

  padding: 0.25rem;
  text-align: center;

  border-bottom: 1px solid black;
}

.HistoryGrid {
  display: grid;
  grid-template-columns: repeat(5, 64px);
  gap: 6px;
}

@media (max-width: 1024px) {
  .History {
    height: 7rem;
    font-size: 11px;
    margin: 0.5rem;
  }

  .HistoryGrid {
    grid-template-columns: repeat(5, 48px);
    gap: 18px;
  }
}
